.paddingR {
   padding-right: 7px;
}

.paddingB {
   padding-bottom: 15px;
}

.paddingT {
   padding-top: 8px;
}

.notifications {
   display: inline-block;
   background-color: #b4b3d1;
   padding: 5px;
   border-radius: 2px;
}